{{ define "main" }}
  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </article>

    <div class="pa3 pa4-ns w-100 w-70-ns center">
      {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

      <h1 class="flex-none">
        Articles récents
      </h1>

      <section class="w-100">
        {{/* Range through the first $n_posts items of the section */}}
        {{ range (first $n_posts .Data.Pages) }}
          <div class="relative w-100 mb4">
            {{ partial "summary-with-image.html" . }}
          </div>
        {{ end }}
      </section>

      </div>
  
  <div class="pa3 pa4-ns w-100 w-70-ns center">
    <h1 class="flex-none">
      Voyages
    </h1>
    {{ range sort .Site.Sections ".Date" "desc" }}
    <section class="w-100">
        <div class="relative w-100 mb4">
          {{ partial "summary-with-image.html" . }}
        </div>
    </section>
    {{ end }}
  </div>
{{ end }}
